<div class="wrapper">
  <div>
    <div class="list-header">Students</div>
    <mat-selection-list #studentList [multiple]="false">
      <mat-list-option (click)="selectedListOption(studentList.selectedOptions.selected[0]?.value)" *ngFor="let student of students" [value]="student">
        <div class="list-item-wrap">
          <span>{{student.firstName}} {{student.lastName}}</span>
          <span>{{student.rollNumber}}</span>
        </div>
      </mat-list-option>
    </mat-selection-list>
  </div>
  <div class="form-wrapper">
    <app-student-form [isEdit]="isEdit" [student]="selectedStudent" (onSubmit)="handleSubmit($event)"></app-student-form>
  </div>
</div>